<div class="container-fluid">
  <div class="row bg-light p-3">
    <div class="col-lg-2">
      <a routerLink="/">
        <img class="brand-expression__logo" ngSrc="assets/img/Qualidify-logo.png" alt="Qualidify Logo" height="75"
             width="186"/>
      </a>
    </div>
    <div class="col-lg-8">
      <app-qualidify-navbar [items]="mainNavItems"></app-qualidify-navbar>
    </div>
    <div class="col-lg-2">
      <app-qualidify-account-navbar></app-qualidify-account-navbar>
    </div>
  </div>
</div>

<!-- The routed views render in the <router-outlet>-->
<div class="main">
  <router-outlet></router-outlet>
</div>
