/* You can add global styles to this file, and also import other style files */

@import 'ag-grid-community/styles/ag-grid.css'; // Core grid CSS, always needed
@import 'ag-grid-community/styles/ag-theme-alpine.css'; // Optional theme CSS

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0px 0px 20px 0px;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*
 Button style
 */

button {
  padding: 10px 20px 10px 20px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  border-radius: 7px;
  outline: none;
  border: none;
}

button.green {
  background-color: green;
}
button.green:hover {
  background-color: aquamarine;
}
