/* Main layout */

/*a[highlight] {*/
/*    font-weight: bold;*/
/*    text-decoration: underline;*/
/*}*/

/*.header {*/
/*    padding: 0 var(--lumo-space-m);*/
/*}*/

/*.header h1.logo {*/
/*    font-size: 1em;*/
/*    margin: var(--lumo-space-m);*/
/*}*/

/*!* List view *!*/
/*.list-view .content {*/
/*    display: flex;*/
/*}*/
/*.list-view .default-grid {*/
/*    flex: 2;*/
/*}*/
/*.list-view .default-form {*/
/*    flex: 1;*/
/*    padding: var(--lumo-space-m);*/
/*}*/

/*@media all and (max-width: 1100px) {*/
/*    .list-view.editing .toolbar,*/
/*    .list-view.editing .contact-grid {*/
/*        display: none;*/
/*    }*/
/*}*/

:host {
    background-color: var(--lumo-shade-5pct) !important;
    --vaadin-app-layout-navbar-background: var(--lumo-base-color);
}

[part="content"] {
    height: 100%;
}

[part="navbar"] {
    z-index: 200;
    box-shadow: 0 0 16px 2px var(--lumo-shade-20pct);
}

@media (max-height: 600px) {
    :host(.hide-navbar) [part="navbar"] {
        display: none;
    }
}

[part="navbar"] {
    align-items: center;
    justify-content: center;
}

[part="navbar"]::after {
    content: '';
}

[part="navbar"] ::slotted(*:first-child),
[part="navbar"]::after {
    flex: 1 0 0.001px;
}

@media (max-width: 800px) {
    [part="navbar"] ::slotted(vaadin-tabs) {
        max-width: 100% !important;
    }

    [part="navbar"] ::slotted(.hide-on-mobile) {
        display: none;
    }

    [part="navbar"]::after {
        content: none;
    }
}
