@import "crud-view-button.css";
@import "./taskgrid.css";

:root {
    --lumo-button-color: darkgreen;
    --lumo-primary-color: darkgreen;
    --lumo-primary-text-color: darkgreen;
    --task-background-color: #ffffff;
    --task-header-color: #155d08;
}

.task-detail,
.project-detail {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 964px;
}

.task-detail .wrapper {
    flex: 0 0 100%;
    flex-flow: row wrap;
    background: var(--task-background-color);
    box-shadow: 0 3px 5px var(--lumo-shade-10pct);
    border-bottom: 1px solid var(--lumo-shade-10pct);
    display: flex;
    padding: var(--lumo-space-l) var(--lumo-space-m);
    cursor: pointer;
    border-radius: 12px;
}

.task-detail > .task-header {
    color: var(--task-header-color);
    display: block;
    width: 100%;
}

.task-detail > .wrapper > div,
 div.report-row {
    flex: 0 0 100%;
    display: block;
    width: 100%;
}

.project-info,
.task-row,
.task-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 38px;
    gap: 10px;
}

.task-actions,
.project-actions,
.report-actions {
    display: inline-block;
    width: 50%;
    text-align: right;
    gap: 10px;
}

div.current-reports-cell {
    flex: 0 0 100%;
    display: inline-block;
}

div.reporttemplate-row {
    display: block;
}

@media screen and (device-width > 500px) {
    div.reporttemplate-row div {
        display: inline-block;
        width: 50%;
    }
    div.reporttemplate-actions {
        text-align: right;
    }
}

@media screen and (device-width <= 500px) {
    div.reporttemplate-row div {
        display: block;
        width: 100%;
    }

    div.reporttemplate-actions {
        text-align: right;
    }
}
