/* Vaadin grid theme that maximizes row height */
:host([theme~="taskgrid-row-height"]) [part="row"] {
    max-height: 33px;
}

/* Vaadin grid theme to set padding of row cells containing objects (e.g. buttons, menubars, icons) */
:host([theme~="taskgrid-with-objects"]) [part~="cell"] ::slotted(vaadin-grid-cell-content) {
    padding-left: 12px;
    padding-right: 0;
}

/* Vaadin grid theme to set padding of row cells NOT containing objects */
:host([theme~="taskgrid-without-objects"]) [part~="cell"] ::slotted(vaadin-grid-cell-content) {
    padding-left: 12px;
    padding-right: 8px;
}

/* Vaadin grid theme to set padding of cells */
:host([theme~="taskgrid-padding"]) [part~="cell"] ::slotted(vaadin-grid-cell-content) {
}

.gridpanel-title {
    margin-top: 14px;
    margin-bottom: 0;
}

.gridrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    max-height: 24px;
}

.gridrow-menubar {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 25px;
    max-width: 28px;
}

.gridrow-menuitem {
}