<h2>Configuration</h2>
<div routerLink="project-templates">Project Templates</div>
<div routerLink="project-instances">Project Instances</div>
<div routerLink="case-definitions">Case Definitions</div>
<div routerLink="case-instances">Case Instances</div>
<div routerLink="plan-items">Plan Items</div>
<div routerLink="case-tasks">Case Tasks</div>
<div routerLink="form-definitions">Form Definitions</div>
<div routerLink="process-definitions">Process Definitions</div>
<div routerLink="process-tasks">Process Tasks</div>
