<ng-container *ngFor="let action of statefulActions">
  <button class="btn btn-sm btn-primary m-1" [disabled]="!action.enabled" (click)="performAction(row.rawData, action.action)">{{ action.label }}</button>
</ng-container>
