<h1>Login</h1>

<div id="login-failed-message" *ngIf="showLoginFailure">
  Could not log in with. Check your username and password.
</div>

<form [formGroup]="loginForm">
  <div class="mb-3">
    <label for="usernameInput" class="form-label">Username</label>
    <input type="text" id="userNameInput" class="form-control" name="username" formControlName="userName"/>
  </div>
  <div class="mb-3">
    <label for="passwordInput" class="form-label">Password</label>
    <input type="password" id="passwordInput" class="form-control" name="password" formControlName="password"/>
  </div>
  <div>
    <button class="btn btn-primary" (click)="loginClicked()" [disabled]="!loginForm.valid">Login</button>
  </div>
</form>

<div class="m-3">
  <a href="/api/oauth2/authorization/azure">
    <button class="btn btn-primary">Log in with Microsoft</button>
  </a>
</div>
