<h2>Case Instances</h2>
<div *ngFor="let case of cases">
  {{ case.name }}
  {{ case.id }}
  <button class="btn btn-primary"
          *ngFor="let action of getActions(case)"
          [hidden]="!action.visible"
          [disabled]="!action.enabled"
          (click)="execute(action, case)"
  >
    {{ action.label }}
  </button>
</div>
