<app-qualidify-navbar *ngIf="loginState == false" [items]="loggedOutItems"></app-qualidify-navbar>

<nav *ngIf="loginState == true" class="navbar navbar-expand-sm">
  <ul class="navbar-nav">
    <li class="nav-item text-center">
      <a class="nav-link" (click)="logout()">
        <fa-icon [icon]="keyIcon" size="2x"></fa-icon><br/>
        <span>Log out</span>
      </a>
    </li>
  </ul>
</nav>
