<h2>Process Definitions</h2>
<div *ngFor="let process of processes">
  {{ process.name }}
  {{ process.id }}
  <button class="btn btn-primary"
          *ngFor="let action of getActions(process)"
          [hidden]=!action.visible
          [disabled]=!action.enabled
          (click)="execute(action, process)"
  >
    {{ action.label }}
  </button>
</div>
