<app-qualidify-readonly-grid [mnemonic]="mnemonic" [inputData]="data" [actionHandler]="actionHandler" [refreshCallback]="refreshCallback"></app-qualidify-readonly-grid>
<app-qualidify-pagination [currentPage]="currentPage" [numPages]="numPages" [navAction]="selectPage"></app-qualidify-pagination>
