<h2>Tasks</h2>
<div *ngFor="let task of tasks">
  {{ task.name }}
  {{ task.id }}
  <button class="btn btn-primary"
          *ngFor="let action of getActions(task)"
          [hidden]=!action.visible
          [disabled]=!action.enabled
          (click)="execute(action, task)"
  >
    {{ action.label }}
  </button>
</div>
