<nav aria-label="Pagination">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous" (click)="previous()">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <ng-container *ngFor="let number of [].constructor(numPages); let i = index">
      <li class="page-item" (click)="selectPage(i + 1)"><span style="cursor: pointer" class="page-link">{{ i + 1 }}</span></li>
    </ng-container>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next" (click)="next()">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
