<nav class="navbar navbar-expand-sm">
  <ul class="navbar-nav">
    <li class="nav-item text-center" *ngFor="let item of items">
      <a class="nav-link" routerLink="{{ item.routerLink }}">
        <fa-icon [icon]="item.icon" size="2x"></fa-icon><br/>
        <span>{{ item.caption }}</span>
      </a>
    </li>
  </ul>
</nav>
